In [2]:
A = 4
B = 6
C = A+B
D = A-B
print('The value of A is: ',A)
print('The value of A is: ',B)
print('The value of A is: ',C)
print('The value of A is: ',D)

The value of A is:  4
The value of A is:  6
The value of A is:  10
The value of A is:  -2

In [3]:
X = 5/2
print(X)
Y = (int)(5/2) #Called type casting, para hacerla un valor entero
print(Y)

2.5
2

In [4]:
v1 = 4
v2 = 5.5
v3 = v1 + v2
print(v3)

9.5

In [9]:
V1 = 4
      V2 = 5.5
   V3 = v1 + v2
print(V3)

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 3)

In [10]:
x = '1'
y = '2'
z = '3'
Ans = x + y + z
print(Ans)

123

In [11]:
Birth_Year = 1996 #Excercise 5
Current_Year = 2025
Age = Current_Year - Birth_Year
print(Age)

29

In [14]:
#Excercise 6
my_name = 'Caleb'
my_country = 'Colombia'
my_major = 'Major'

AP = my_name.upper()
LC = my_country.lower()
Mj = my_major.swapcase()

print('My name is',AP)
print('My country is',LC)
print('My major is',Mj)

My name is CALEB
My country is colombia
My major is mAJOR

In [13]:
#Excercise 7
P = 8
Q = 5
D = (P + Q)*2
K = (P - Q)*4

print(D)
print(K)

26
12

In [15]:
#Excercise 8
text = 'This is my 2nd Tutorial in MDS601'

print(text)
print('The length is ',len(text))
print('The 6th value is ',text[5])
print('The last value is ',text[len(text)-1])

updated_text = text.swapcase()
print(updated_text)

This is my 2nd Tutorial in MDS601
The length is  33
The 6th value is  i
The last value is  1
tHIS IS MY 2ND tUTORIAL IN mds601

In [18]:
#Excercise 9
FName = 'Caleb'
LName = 'Ariza'
full_name = FName + LName
print('My full name is: ',full_name)

#Mi metodo para adherir un espacio
esp = " "

full_name1 = FName + esp + LName
print('My full name is: ',full_name1)

My full name is:  CalebAriza
My full name is:  Caleb Ariza

In [24]:
#Excercise 10
my_list = [10, 15, 25, 30, 54, 62, 80]
my_list[0] = 20

suma = my_list[0] + my_list[1]

my_list[len(my_list)-1] = suma
print(my_list)

my_list.extend([90,95])
print(my_list)

my_list.insert(2,-10)
print(my_list)

sorted_list = sorted(my_list)
print('sorted list: ',sorted_list)

print('original list: ',my_list)

[20, 15, 25, 30, 54, 62, 35]
[20, 15, 25, 30, 54, 62, 35, 90, 95]
[20, 15, -10, 25, 30, 54, 62, 35, 90, 95]
sorted list:  [-10, 15, 20, 25, 30, 35, 54, 62, 90, 95]
original list:  [20, 15, -10, 25, 30, 54, 62, 35, 90, 95]

In [25]:
#Excercise 11
my_tuple = (5, 4, 8, 6, 7)
print(len(my_tuple))
print(my_tuple[len(my_tuple)-1])
print(my_tuple[1])

5
7
4

In [26]:
#Excercise 12
my_data = {'name1':20,'name2':21,'name3':22,'name4':23,'name5':25,}

print(my_data)
print(my_data.keys())
print(my_data.values())
print(my_data['name3'])

{'name1': 20, 'name2': 21, 'name3': 22, 'name4': 23, 'name5': 25}
dict_keys(['name1', 'name2', 'name3', 'name4', 'name5'])
dict_values([20, 21, 22, 23, 25])
22